
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #fff;

	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
	

}

.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 3em 1em 4em;
	order: 1;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	margin: 0 7em 0 0;
	text-align: center;
	text-transform: lowercase;
}

.codrops-header__title::before,
.codrops-header__title::after {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
	color: #fff;
}

.codrops-header__title::after {
	content: '\2309';
	vertical-align: super;
}

.codrops-header__title::before {
	content: '\230A';
	vertical-align: sub;
}

/* PORTFOLIO */
#Portfolio {
	/* Grid gap */
	--gap: 20px;
	/* Color scheme */
	--body-text: #333;
	

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 600px;
	color: #333;
	color: var(--body-text);
	background: #ccd8e4;
	background: var(--body-bg);
}
#Portfolio div.grid__item:not(.grid__item--nav)::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0013ff;
	mix-blend-mode: exclusion;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	}
	#Portfolio .revealer--hideX,
	#Portfolio .revealer--hideY,
	#Portfolio .revealer--showX,
	#Portfolio .revealer--showY,
	#Portfolio .grid__item--animateOut,
	#Portfolio .grid__item--animateIn {
	animation-duration: 0.6s;
	}
	#Portfolio .grid:not(.grid--animating) div.grid__item:not(.grid__item--nav):hover::after {
	opacity: 1;
	}
	


/* REVEALER CSS */

.revealer {
position: absolute;
width: calc(100% + 4px);
height: calc(100% + 4px); /* Firefox and Safari gap hack */

top: -2px;
left: -2px;
opacity: 0;
pointer-events: none;
}

/* Direction control */
.revealer--right {
transform-origin: 100% 50%;
}

.revealer--left {
transform-origin: 0% 50%;
}

.revealer--top {
transform-origin: 50% 0%;
}

.revealer--bottom {
transform-origin: 50% 100%;
}

.revealer--showX,
.revealer--hideX,
.revealer--showY,
.revealer--hideY,
.revealer--visible {
opacity: 1;
}

/* Hide from left/right */
.revealer--hideX {
animation: hideX 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes hideX {
from {
	transform: scale3d(0,1,1);
}
to {
	transform: scale3d(1,1,1);
}
}

/* Show from left/right */
.revealer--showX {
animation: showX 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes showX {
to {
	transform: scale3d(0,1,1);
}
}

/* Hide from top/bottom */
.revealer--hideY {
animation: hideY 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes hideY {
from {
	transform: scale3d(1,0,1);
}
to {
	transform: scale3d(1,1,1);
}
}

/* Show from top/bottom */
.revealer--showY {
animation: showY 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes showY {
to {
	transform: scale3d(1,0,1);
}
}



/* Grid */
.grid {
display: grid;
width: calc(100% - 6em);
height: calc(100vh - 6em);
grid-auto-rows: calc((calc(100vh - 6em) / 30) - var(--gap));
grid-auto-columns: calc((calc(100% - 6em) / 30) - var(--gap));
justify-content: center;
align-content: center;
grid-gap: var(--gap);
pointer-events: none;
}

.no-js .grid {
margin: 0 0 15vh;
}

.js .grid {
position: absolute;
top: 3em;
left: 3em;
opacity: 0;
}

.js .grid--current {
opacity: 1;
pointer-events: auto;
}

.grid__item {
position: relative;

background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
transition: transform 0.2s ease-out;
}
.grid__item img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.grid__item--name,
.grid__item--title,
.grid__item--text {
pointer-events: none;
padding: 0;
margin: 0;
}

.grid__item--name,
.grid__item--title {
text-transform: uppercase;
line-height: 0.8;
font-family: 'Kanit', sans-serif;
color: #fef2d8;
}

.grid__item--name {
font-size: 7vw;

}

.grid__item--title {
font-size: 3.5vh;
text-transform: uppercase;	
-webkit-writing-mode: vertical-lr;
writing-mode: vertical-lr;
text-align: right;
display: flex;
justify-content: flex-end;
color: #ef3b3b;
color: var(--grid-title-text);
}

.grid__item--text {
font-size: 0.85em;
line-height: 1.2;
display: flex;
color: inherit;
color: var(--grid-text);
}

.grid__item--nav {
background: #442ef4;
background: var(--grid-nav-bg);
color: #fff;
color: var(--grid-nav-text);
display: flex;
align-items: center;
cursor: pointer;
}

.grid__item--nav:hover {
background: #1f1f1f;
background: var(--grid-nav-bg-hover);
color: #fff;
color: var(--grid-nav-text-hover);
}

.grid__item--nav-next .icon--nav-arrow {
margin: 0 0 0 auto;
}

.grid__item--nav-prev .icon--nav-arrow {
transform: rotate(180deg);
margin: 0;
}

.no-js .grid__item--nav {
display: none;
}

.grid__item--animateOut {
animation: animateOut 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animateOut {
to {
	opacity: 0;
}
}

.grid__item--animateIn {
animation: animateIn 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animateIn {
from {
	opacity: 0;
}
to {
	opacity: 1;
}
}



/* Layout 3 */
.grid--layout-3 .grid__item:first-child { grid-area: 6 / 1 / 14 / 5; }
.grid--layout-3 .grid__item:nth-child(2) { grid-area: 3 / 5 / 14 / 10; }
.grid--layout-3 .grid__item:nth-child(3) { grid-area: 14 / 1 / 21 / 5; }
.grid--layout-3 .grid__item:nth-child(4) { grid-area: 19 / 10 / 28 / 20; }
.grid--layout-3 .grid__item:nth-child(5) { grid-area: 1 / 10 / 11 / 18; }
.grid--layout-3 .grid__item:nth-child(6) { grid-area: 11 / 10 / 19 / 15; }
.grid--layout-3 .grid__item:nth-child(7) { grid-area: 11 / 15 / 19 / 20; }
.grid--layout-3 .grid__item:nth-child(8) { grid-area: 1 / 18 / 6 / 23; }
.grid--layout-3 .grid__item:nth-child(9) { grid-area: 20 / 20 / 27 / 24; }
.grid--layout-3 .grid__item:nth-child(10) { grid-area: 20 / 28 / 25 / 30;  }
.grid--layout-3 .grid__item:nth-child(11) { grid-area: 4 / 23 / 11 / 27;  }
.grid--layout-3 .grid__item:nth-child(12) { grid-area: 4 / 23 / 11 / 27;  }

.grid--layout-3 .grid__item--name { grid-area: 15 / 16 / 30 / 23; }
.grid--layout-3 .grid__item--title { grid-area: 1 / 27 / 11 / 29; }
.grid--layout-3 .grid__item--text { grid-area: 19 / 5 / 30 / 10; text-align: right;}
.grid--layout-3 .grid__item--nav-prev { grid-area: 14 / 5 / 19 / 10; }
.grid--layout-3 .grid__item--nav-next { grid-area: 6 / 18 / 11 / 23; }


@media screen and (max-width: 60em) {
.message {
	display: block;
}
.frame {
	display: block;
	height: auto;
	position: relative;
	text-align: center;
}
.codrops-header {
	flex-direction: column;
}
.codrops-header__title {
	padding: 1em 0;
}
.github {
	margin: 0 auto;
}
.demos {
	padding: 1em 0 0;
}
.demo {
	margin: 0 0.5em;
}
.grid {
	height: auto;
	top: auto!important;
	width: 100%;
	left: auto!important;
	padding: 0 2em;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	grid-auto-rows: auto!important;
	grid-auto-columns: auto!important;
	grid-gap: .5vw;
}

.grid__item {
	min-height: 75px;
	grid-area: auto!important;
}

.grid__item br {
	content: '';
	display: none;
}

.grid__item--name,
.grid__item--title,
.grid__item--text {
	grid-column: 1 / -1!important;
	justify-content: flex-start;
	min-height: 0;
	padding: 1vh 0;
	text-align: left!important;
}	

.grid__item--name {
	grid-row: 1 / -1!important;
}

.grid .grid__item--title {
	-webkit-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
}
}


/* VIDEO SHIT */
.video-wrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.video-wrap--show {
	pointer-events: auto;
}

.video-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	background: black;
}

.video-wrap--show .video-inner {
	opacity: 1;
}

.video-player {
	/* position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0); */
}
/* Loader */
.loader {
	font-size: 2.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.video-loaded .loader {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Button */
.action {
	/* font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.15em;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 2em; */
	color: #fff;
	/* border: 2px solid;
	border-radius: 40px;
	background: none;
	-webkit-flex: none;
	flex: none; */
}

.action:focus {
	outline: none;
}

.action__label {
	display: inline-block;
	margin: 0 0 0 0.75em;
}

.action__label--hidden {
	position: absolute;
	top: 200%;
}

.action--play {
position: absolute;
top: 0;
left: 0;
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
width: 100%;

}

.video-loaded .action--play {
	opacity: 1;
	pointer-events: auto;
}

.action--close {
	line-height: 1;
	position: absolute;
	z-index: 1000;
	top: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	padding: 0;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale3d(0.7,0.7,1);
	transform: scale3d(0.7,0.7,1);
}

.video-wrap--show .action--close {
	opacity: 1;
	-webkit-transition-delay: 1.2s;
	transition-delay: 1.2s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}


/* VIMEO DEFAULT STYLES */
.player .video-wrapper {
position: relative!important;

}
.player .video-wrapper .video{
	height: 80vh!important;
	width: 80vw!important;
	position: relative!important;
}
.player .video-wrapper .video video{

}
