/* Home Component */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


/* font-family: 'Poppins', sans-serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Lato', sans-serif; */


*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #909090;
	background: #1c1c1c;
}

h1, h2 {
	font-family: 'Poppins', sans-serif;
}
h2 {
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: #909090;
	outline: none;
}

a:hover,
a:focus, .fa {
	color: #fff;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
	align-items: center;
}

.codrops-header__title {
	font-size: 1em;
	padding: 0.75em 0;
	margin: 0;
	font-style: uppercase;
	font-weight: normal;
}

.info {
	color: var(--color-link-hover);
	margin: 0 0 0 1.25em;
}

.github {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 0 2.5em;
}

.codrops-header__tagline,
.deco {
	grid-area: tagline;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	/* text-align: right;
	align-self: start;
	justify-self: end;
	margin: 0;
	padding: 0.85em 0; */
	position: absolute;
	top: 20px; right: 20px;
}

.codrops-header__tagline {
	padding: 0.65em 0;
}

.deco {
	grid-area: deco;
	align-self: end;
	justify-self: start;
	padding: 0;
	transform: rotate(180deg);
}


.content--fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	z-index: 100;
	align-content: space-between;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 	"header tagline"
							"deco tagline"
							"deco demos";
}

.content--layout {
	grid-template-columns: 100%;
	padding: 3em 0;
}

.content--fixed a {
	pointer-events: auto;
}

.demos {
	grid-area: demos;
	text-align: center;
	display: block;
	position: relative;
}

.demo {
	margin: 0 0.15em;
}

.demo span {
	text-transform: lowercase;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	text-decoration: underline;
	pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
	color: #fff;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

/* Common styles for the words */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



.demo-grid {
	--body-text: #585858;
	--body-text-alt: #cf1d56;
	--body-bg: #010101;
	--link-text: #c7c5c5;
	--link-text-hover: #fff;
	--content-font: "Cormorant Garamond", sans-serif;
}

.content {
	--pieces-height: 90vh;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.page-nav {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	font-family: var(--content-font);
}

.page-nav__item {
	font-size: 7vh;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.page-nav__item--close {
	font-style: uppercase;
	font-size: 1.85em;
	margin: 1em 0 0 0;
	
	position: relative;
	font-family: 'Libre Barcode 39 Text', cursive;
}

.page-nav__item--close:hover,
.page-nav__item--close:focus {
	color: var(--body-text-alt);
	text-decoration: line-through;
}

.content__title {
	font-size: 4vw;
	margin: 0;
	font-style: uppercase;
	cursor: pointer;
	color: #fff!important;
	position: relative;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.page-nav--open ~ .content__title {
	pointer-events: none;
}

.content .pieces {
	height: 90vh;
	width: calc(var(--pieces-height) * calc(888/1000));
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-1 * var(--pieces-height) * calc(888/1000) / 2);
	margin-top: calc(-1 * var(--pieces-height) / 2);
  pointer-events: none;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 40em) {
	.content {
		--pieces-height: 50vh;
		height: var(--pieces-height);
		margin-bottom: 8em;
	}
	.content__title {
		font-size: 22vw;
	}
	.page-nav__item {
		font-size: 6vh;
	}
}


/* CANVAS */
#Home canvas {
	position: absolute;
	top: 0px;
	z-index: -1;
}

/* Header Style */
.word--kidnap {
	
	font-size: 4vw;
	
	
}

.word--kidnap span {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}



/* Should use this for loading */
/* .demo-kidnap main::before {
	content: '';
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/noise.gif);
	background-size: 300px;
	opacity: 0.7;
} */